.header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}

.header_left {
    display: flex;
}

.header_left>img {
    object-fit: contain;
    height: 40px;
    border-radius: 10px;
}

.header_search {
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    color: gray;
    height: 20px;
    background-color: #eef3f8;
}

.header_search>input {
    outline: none;
    border: none;
    background: none;
    width: 200px;
    border-radius: 5px;
    margin: 2em;
}

.header_right {
    display: flex;
}